

.title{
    
    font-family:fantasy;
    color: #979d9e;
    color: #b7edf6;
    padding: 10px;
}
.time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
   
}
.date, .hours, .minute, .seconds {
    font-size: 2em;
    margin: 10px;
}

.date{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* padding: 10px; */
    color: #979d9e;
}

.hours, .minute, .seconds {
    font-weight: bold;
    font-family: fantasy;
    color: #979d9e;
  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000; /* Black background */
    font-family: 'Arial', sans-serif;
}

.clock.box {
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px #0ff, 0 0 30px #0ff inset; /* Outer and inner glow */
    color: #0ff; 
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

.title{
    /* box-shadow: 0 0 20px #0ff, 0 0 30px #0ff inset; */
    text-shadow: 0 0 10px #0ff, 0 0 10px #0ff, 0 0 10px #0ff;


}
.date, .hours, .minute, .seconds {
    margin: 10px 0;
    /* box-shadow: 0 0 20px #0ff, 0 0 30px #0ff inset; Outer and inner glow */

    /* box-shadow: 0 0 20px #979d9e, 0 0 30px #979d9e inset; */
    text-shadow: 0 0 5px #0ff, 0 0 5px #0ff, 0 0 5px #0ff;
}
